@import url("https://use.typekit.net/vzx3eow.css");

body {
    font-family: "neue-haas-grotesk-text", sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.chat-container {
    width: 270px;
    margin-top: 120px;
    background-color: #93ACC2;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    right: 20px; 
    top: 200px; 
    z-index: 1000; 
}

h3 {
    color: #00263D;
    font-size: 16px;
}

.chat-header {
    background-color: #93ACC2;
    color: #00263D;
    text-align: center;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px; 
    position: relative; 
}

.chat-header svg {
    position: absolute;
    left: 10px; 
    cursor: pointer;
}

.chat-messages {
    padding: 0 30px;
    overflow-y: auto;
    max-height: 250px; 
}

.message {
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    max-width: 80%;
}

.user-message {
    background-color: #f6f6f6;
    float: right;
}

.bot-message {
    background-color: #fff;
    float: left;
}

.chat-input-container {
    display: flex;
    border-top: 1px solid #ddd;
}

.chat-input {
    flex: 1; /* Make the input take up available space */
    padding: 10px; /* Add padding for better appearance */
    border: none;
    outline: none;
}

.send-icon {
    padding: 10px;
    background-color: #93ACC2;
    color: #00263D;
    cursor: pointer;
}
