@import url("https://use.typekit.net/vzx3eow.css");
* {
  margin: 0;
  padding: 0;
  font-family: "neue-haas-grotesk-text", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(147, 172, 194, 0.25);
  padding: 10px;
}

.navbar a {
  color: #00263d;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-style: normal;
  margin-right: 12px;
}
p {
  font-size: 14px;
  font-weight: 400;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-style: normal;
}

.navbar a:nth-last-child(1) {
  background-color: #cbb391;
  color: #00263d;
  padding: 10px 15px;
  border-radius: 30px;
}

.navbar a:nth-last-child(1):hover {
  background-color: #00263d;
  color: #cbb391;
}

.menu {
  display: flex;
  align-items: center;
}

.melding img {
  margin-right: 10px;
}

#searchIcon img {
  margin-right: 23px;
}

.search-bar {
  display: none;
  align-items: center;
  padding-top: -30px;
  padding-bottom: -30px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #93acc2;
  border-radius: 20px;
  border: none;
  margin-right: 10px;
}

.search-bar input {
  flex-grow: 0;
  padding: 9px;
  font-size: 14px;
  font-weight: 400;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-style: normal;
  border-radius: 20px;
  border: none !important;

  background-color: #93acc2;
}
input {
  border: none !important;
  background-color: #f6f6f6;
  color: white;
}

#closeSearch {
  cursor: pointer;
  border: none !important;
  background-color: transparent;
  margin-right: -10px;
}

#searchIconInBar {
  cursor: pointer;
}

#searchButton{
  background-color: #93acc2;
  border: #93acc2;
  margin-left: 10px;
}

#searchIconInBar img {
  transition: transform 0.3s ease;
}

#searchBar.active #searchIconInBar img {
  transform: translateX(-20px);
}

#vragen{
  margin-left: -5px;
  margin-right: 25px;
}


.footer {
  background-color: rgba(147, 172, 194, 0.25);
  border-top: 6px solid #00263d;
  padding-top: 20px;
}

.logos {
  margin-left: 20px;
  padding-bottom: 20px;
}

.logos a {
  margin-right: 20px;
}
p {
  font-weight: 400;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-style: normal;
}

.end {
  text-align: center;
  font-size: 16px;
  color: #00263d;
  padding-top: -20px;
  padding-bottom: 40px;

  font-weight: 400;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-style: normal;
}

#searchResults {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
}
.search-result-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.search-result-item:last-child {
  border-bottom: none;
}
