@import url("https://use.typekit.net/vzx3eow.css");
.login-form {
  background-color: #93acc2;
  width: 95%;
  /* height: 300px; */
  margin: 0 auto;
  border-radius: 10px;
  padding: 5px 0 30px 0;
}

/* .form-group input{
    padding: 10px;
    border-radius: 10px;

}  */

.form-group {
  margin: 15px 0;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #f6f6f6;
}

.form-group input {
  padding: 10px;
  border-radius: 10px;
  width: 90%;
}

form p {
  /* padding: 10px;
    border-radius: 10px; */
  width: 95%;
  /* color: #F6F6F6; */
}

.button {
  text-decoration: none;
  color: #00263d;
  margin-top: 15px;
}

form {
  margin-left: 25px;
  padding-top: 15px;
}

.login-form a {
  color: #00263d;
  text-decoration: none;
}
.registreer {
  display: block;
}

@media (min-width: 600px) {
  .login-form {
    width: 75%;
  }
}

@media (min-width: 1000px) {
  .login-form {
    width: 50%;
  }
}
