@import url("https://use.typekit.net/vzx3eow.css");

* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #B95927;
    font-weight: 400;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-style: normal;
}

.text p{
    text-align: center;
    font-weight: 400;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-style: normal;
    line-height: 2;
}

.image{
    width: 67%;
    margin-left: 18%;
    margin-top: 40px;
    margin-bottom: 102px;
   
}

@media(min-width:600px){
    .text p{
        font-weight: 400;
        font-family: "neue-haas-grotesk-text", sans-serif;
        font-style: normal;
        font-size: 17px;
    }

    .image{
        width: 57%;
        margin-left: 24%;
        margin-top: 40px;
        margin-bottom: 102px;
       
    }
}

@media(min-width: 1000px){
    .text p{
        font-weight: 400;
        font-family: "neue-haas-grotesk-text", sans-serif;
        font-style: normal;
        font-size: 20px;
    }

    .image{
        width: 27%;
        margin-left: 37%;
        margin-top: 40px;
        margin-bottom: 102px;
        
       
    }

}