@import url("https://use.typekit.net/vzx3eow.css");
* {
  font-family: "neue-haas-grotesk-text", sans-serif;
}
.kader {
  border: 1px #00263d solid;
  border-radius: 10px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 20px;
}

.kader-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.bewerken {
  align-items: center;
  border: 1px #b95927 solid;
  padding: 5px 10px;
  border-radius: 10px;
}
.bewerken a {
  text-decoration: none;
  color: #b95927;
}

h1 {
  text-align: left;
  color: #b95927;
  font-weight: 400;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-style: normal;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 25px;
}

h2 {
  color: #00263d;
  margin-bottom: 10px;
}
h3 {
  color: #00263d;
  margin-bottom: 10px;
}

.kader-inhoud {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}
.kader-artikels {
  position: relative;

  width: 100%;
  margin: 10px;
}

#profiel_foto {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-right: 10px;
  margin-top: -20px;
}

.profiel_foto img {
  width: 90px;
}

.button {
  padding: 7px 14px;
  display: inline-block;
  background-color: #cbb391;
  border-radius: 7px;
  margin: 10px 0;
}
.button a {
  text-decoration: none;
  color: #00263d;
  font-size: 14px;
}
.uitloggen {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 29px;
}

.info {
  color: #00263d;
  margin-left: 20px;
}

.email {
  color: rgb(0, 38, 61, 50%);
  margin-bottom: 10px;
}

.image {
  width: 100%;
  height: 200px; /* Stelt een vaste hoogte in zodat alle afbeeldingen dezelfde grootte hebben */
  overflow: hidden;
  border-radius: 5px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  background-color: #00263d;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Zorgt ervoor dat de afbeelding zichzelf correct aanpast binnen de container */
  display: block;
  border-radius: 5px;
}

/* .article-content {
  width: 100%;
} */

.title h3 {
  margin: 13px 5px 0 5px;

  font-size: 18px;
  color: #00263d;
  /* flex-wrap: wrap; */
  /* margin-right: 180px; */
}

.kader-artikels-container {
  display: flex;
  flex-wrap: wrap;
}

.heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: auto;
  cursor: pointer;
  z-index: 1;
}

a {
  text-decoration: none;
}
@media (min-width: 660px) {
  .kader-artikels {
    width: 46.5%;
  }
}
@media (min-width: 1000px) {
  .kader-artikels {
    width: 30.6%;
  }
}
@media (min-width: 1200px) {
  .kader-artikels {
    width: 23.5%;
  }
}
