@import url("https://use.typekit.net/vzx3eow.css");
* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #b95927;
  font-weight: 400;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-style: normal;
  margin-top: 50px;
  margin-bottom: 50px;
}

.renovatie {
  display: flex;
  justify-content: center;
  margin: 20px 0; 
}

.renovatie img {
  width: 90%;
    border-radius: 20px;

}

h2 {
  color: #00263d;
  font-weight: 400;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-style: normal;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
}

p {
  color: #00263D;
  font-weight: 400;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-style: normal;
  font-size: 14px;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 20px;
}

ul{

  color: #00263d;
  font-weight: 400;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-style: normal;
  font-size: 14px;
  margin-left: 40px;
  margin-right: 20px;
  margin-top: 20px;
}
li{
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
}

a {
  color: #00263d;
}

.premie{
  width: 80%;
  border-radius: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}


.kost{

  width: 80%;
  border-radius: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.imgrenovatie {
  width: 90%;
}

.flex {
  display: flex;
  flex-direction: column; 
}

.item {
  display: flex;
  flex-direction: column;
  align-items: left; 
  margin-bottom: 20px; 
  margin-left: 20px;
}

.item a {
  margin-top: 10px;
  color: #00263d;
  font-weight: 400;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-style: normal;
  font-size: 19px;
}

@media (min-width: 768px) {
 
  .flex {
    flex-direction: row; 
    justify-content: left; 
    margin-bottom: 40px;
  }

  .item {
    margin-right: 20px; 
  }

 
  .renovatie img{
    width: 80%;
    margin-left: 40px;
}

  .div {
    margin-left: 30px;
  }

  p {
    margin-right: 60px;
  }

 
  .premie-content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }

  .premie{
    width: 40%;
    margin-top: 50px;
  }

  .premie-text {
    margin-right: -20px;
  }

  
  .kosten-content {
    display: flex;
    align-items: flex-start;
  }

  .kost{
    width: 40%;
    margin-top: -10px;
    margin-right: 20px;
  }

  .kosten-text {
    margin-right: -50px;
  }

  
  
}

@media (min-width: 1000px) {
  .renovatie img {
    width: 50%;
    height: 50%;
 
  }
  
  p{
    margin-right: 80px;
    margin-left: 60px;
    font-size: 16px;
    line-height: 22px;
}

h2{
    margin-left: 60px;
}


.item a{
    margin-left: 60px;
}


li{
  margin-left: 40px;
  font-size: 16px;
  
}

.imgrenovatie{
  margin-left: 60px;
}

.premie-content {
  display: flex;
  align-items: flex-start;

}

.premie{
  width: 40%;
  margin-top: 50px;
  margin-left: 60px;
}

.premie-text {
  margin-top: 90px;
  margin-right: 40px;
}


.kosten-content {
  display: flex;
  align-items: flex-start;
}

.kost{
  width: 40%;
  margin-top: -10px;
  margin-right: 120px;
}

.kosten-text {
  margin-top: 90px;
  margin-right: -50px;
}

.kosten-section h2{
  margin-top: 90px;
  margin-bottom: -50px;
}


}
