@import url("https://use.typekit.net/vzx3eow.css");
* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #b95927;
  font-weight: 400;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-style: normal;
  margin-top: 50px;
  margin-bottom: 50px;
}

.verkiezingen {
  display: flex;
  justify-content: center;
  margin: 20px 0; 
}

.verkiezingen img {
  width: 90%;
  border-radius: 20px;

}

h2 {
  color: #00263d;
  font-weight: 400;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-style: normal;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
}

h3{
  color: #00263d;
  font-weight: 400;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-style: normal;
}

p {
  color: #00263d;
  font-weight: 400;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-style: normal;
  font-size: 14px;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 20px;
}

a {
  color: #00263d;
}

.video {
  width: 400px;
  margin-left: 20px;
}

.totstand a {
  color: #00263d;
  font-weight: 400;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-style: normal;
  font-size: 19px;
  margin-left: 20px;
}

.stemmen img {
  width: 400px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.imgverkiezingen {
  width: 90%;
}

.flex {
  display: flex;
 
}

.item {
  display: flex;
  flex-direction: column;
  align-items: left; 
  margin-bottom: 20px; 
  margin-left: 20px;
}

.item a {
  margin-top: 10px;
  color: #00263d;
  font-weight: 400;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-style: normal;
  font-size: 19px;
}
.partij_logo {
  width: 175px;
  height: auto;
  margin: 7.5px 0;
}
.partij:first-child {
  margin-top: 0;
}
.partij {
  margin: 50px 20px;
}
.niveau{
  color: #00263d;
  font-weight: 400;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-style: normal;
  font-size: 14px;
}
.niveau li {
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 20px;

}

.top{
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  
  .flex {
    flex-direction: row; 
    justify-content: left; 
    margin-bottom: 40px;
  }

  .item {
    margin-right: 20px; 
  }

  .verkiezingen img {
    margin-left: 40px;
  }

  .div {
    margin-left: 30px;
  }

  p {
    margin-right: 60px;
  }
  .video{
    margin-left: 30px;
  }

  .totstand{
    margin-left: 30px;
  
  }

  .extra{
    margin-left: 30px;
  }
}

@media (min-width: 1000px) {
  .verkiezingen img{
    width: 60%;
    height:50%;

}

  p{
    margin-right: 80px;
    margin-left: 60px;
    font-size: 16px;
    line-height: 22px;
}

h2{
    margin-left: 60px;
}


.imgverkiezingen{
    margin-left: 60px;
}

.video{
    margin-left: 60px;
}

.item a{
    margin-left: 60px;
}

.stemmen{
  margin-left: 50px;
}

.totstand a{
    margin-left: 60px;
}

  .niveau{
    font-size: 19px;
    margin-left: 90px;
    
  }

  .niveau li{
    font-size: 16px;
    
  }

  h3{
    margin-left: 90px;
  }

  .partij_logo{
    margin-left: 90px;
  }
}
