@import url("https://use.typekit.net/vzx3eow.css");
* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #b95927;
  font-weight: 400;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-style: normal;
  margin-top: 50px;
  margin-bottom: 50px;
}

p{
    color: #00263D;
    font-weight: 400;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-style: normal;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
}

li{
    color: #00263D;
    font-weight: 400;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-style: normal;
    font-size: 16px;
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
}

h2{
    color: #00263D;
    font-weight: 400;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-style: normal;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
}

#vraagInput {
    flex: 1; 
    padding: 10px; 
    border: none;
    outline: none;
    color: #00263D;
    font-family: "neue-haas-grotesk-text", sans-serif;
    
}

#vraagForm {
    display: flex;
    border-top: 1px solid #ddd;
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
    margin-bottom: 130px;
    margin-top: 70px;
}

.send-icon{
    padding: 10px;
    background-color: #93ACC2;
    color: #00263D;
    cursor: pointer;
    border: none;
}

@media (min-width: 768px) {
    p{
        color: #00263D;
        font-weight: 400;
        font-family: "neue-haas-grotesk-text", sans-serif;
        font-style: normal;
        font-size: 16px;
        margin-left: 40px;
        margin-right: 40px;
    }

    h2{
        margin-left: 40px;
        margin-right: 40px;
    }
    li{
        margin-left: 70px;
        margin-right: 70px;
        font-size: 16px;
    }

    #vraagForm {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media (min-width: 1000px) {
    p{
        color: #00263D;
        font-weight: 400;
        font-family: "neue-haas-grotesk-text", sans-serif;
        font-style: normal;
        font-size: 18px;
        margin-left: 90px;
        margin-right: 90px;
    }

    h2{
        margin-left: 90px;
        margin-right: 90px;
    }

    #vraagForm {
        margin-left: 90px;
        margin-right: 90px;
    }

    li{
        margin-left: 110px;
        margin-right: 110px;
        font-size: 18px;
    }
}
